<nav class="bookingnav" style="background-color:rgba(20, 87, 43, 0.81);">
<h3>論文リスト</h3>
</nav>
<%# 登録した論文を表示したい %>




<%#論文を追加する  %>
<div class="linkshelf"><a href="/bookadd" class=""> 追加</a></div>
