  <div class="screen center">
 	<form action="/renew" method="POST" enctype="multipart/form-data">
    <h3>新しい本棚の名前</h3>
    <div class="cp_iptxt">
	 <input class="ef" type="text" placeholder="" name="bookshelfname" style="color:#fff;">
	 <label></label>
	 <span class="focus_line"></span>
    </div>


<input class="btn-gradient-radius button" type="submit" value="登録">
   </form>
<!-- screenのdiv-->
  </div>