<% unless session[:user] %>
<%# session前の共通nav %>
  <div class="screen center">
 	<form action="/signin" method="POST" enctype="multipart/form-data">
    <h3>なまえ</h3>
    <div class="cp_iptxt">
	 <input class="ef" type="text" placeholder="" name="name" style="color:#fff;">
	 <label></label>
	 <span class="focus_line"></span>
    </div>

    <h3>パスワード</h3>
    <div class="cp_iptxt">
	 <input class="ef" type="password" placeholder="" name="password" style="color:#fff;">
	 <label></label>
	 <span class="focus_line"></span>
    </div>

<input class="btn-gradient-radius button" type="submit" value="ログイン">
<a href="/signup" class="btn-gradient-radius">新規登録</a>
   </form>
<!-- screenのdiv-->
  </div>



<% else %>

<% end %>