


<%# あとでformをしっかりと書く %>
 <%#todo: app.rbへの記述  %>

  <div class="screen">
 	<form action="/signup" method="POST" enctype="multipart/form-data">
    <h3>なまえ</h3>
    <div class="cp_iptxt">
	 <input class="ef" type="text" placeholder="" name="name">
	 <label>入力してください</label>
	 <span class="focus_line"></span>
    </div>

    <h3>パスワード</h3>
    <div class="cp_iptxt">
	 <input class="ef" type="text" placeholder="" name="password">
	 <label>入力してください</label>
	 <span class="focus_line"></span>
    </div>
<input class="btn-gradient-radius button" type="submit" value="送信">
   </form>
<!-- screenのdiv-->
  </div>